*{
    box-sizing:border-box;
}

body{
    margin:0px;
    padding:0px;
}

::selection{
    background-color:#bdc3c7 ;
    color:#02aab0;
}

.content{
    max-width:1600px;
    margin:auto;
}

#navbar{
    position:sticky;
    top:0;
    z-index:99;
    background-color:white;
    box-shadow:0px 2px 10px grey;
    transition:0.3s;
}

.navbar-brand{
    color:black !important;
    font-family: 'Alata', sans-serif;
    letter-spacing:4px;
    font-size:25px !important;
}

.navbar-toggler{
    outline:none !important;
}

.navbar-toggler:hover{
    background-color:black !important;
    color:white !important;
}

nav li a{
    font-family: 'Alata', sans-serif;
    padding-top:8px !important;
    padding-bottom:8px !important;
    padding-right:20px !important;
    padding-left:14px !important;
    color:black !important;
    letter-spacing:4px;
}

nav ul li span{
    display:block;
    width:0%;
    height:5px;
    background-color:black;
    transition:0.6s;
}

nav ul li:hover span{
    width:100%;
}

button i{
    font-size:25px;
}

/*------------------------Form---------------------*/

#header div{
    padding:10px;
    width:100%;
    height:auto;
    background-color:#c4e0e5;
}

#header h1{
    text-align:center;
    padding:20px;
    font-size:4vw;
    padding-bottom:10px;
    word-wrap: break-word;
    text-transform:uppercase;
    font-family: 'Orbitron', sans-serif;
}

#header form{
    padding:10%;
    margin-top:10%;
    box-shadow: 0px 0px 5px black, 0px 0px 10px grey;
}

#header hr{
    width:100px;
    height:1px;
    background-color:white;
}

#header .form-group{
    padding-top:10%;
}

input[type="email"], textarea, input[type="text"]{
    border:1px inset white;
    border-radius:0px !important;
    background-color: #fff;
}

input[type="text"]:focus{
    background-color: #ddd;
}

input[type="email"]:focus{
    background-color: #ddd;
}

textarea:focus{
    background-color: #ddd !important;
}

#header form input[type="submit"]{
    padding:10px 40px;
    outline:none;
    font-family:'Orbitron', sans-serif;
    letter-spacing: 2px;
    font-size:2vw;
}

i{
    font-size:3vw;
    cursor:pointer;
}

#header form label{
    font-family: 'Major Mono Display', monospace;
    font-size:2vw;
    letter-spacing:3px;
}

/*---------------------loader-------------------*/

#loader{
    position:fixed;
    width:100%;
    height:100vh;
    background-color:#c4e0e5;
    z-index:999;
    text-align:center;
}

#loader .spinner-border{
    color:white !important;
    position:absolute;
    top:50%;
}

#loader h4{
    font-family: 'Pacifico', cursive;
    color:white;
    letter-spacing: 5px;
    position:relative;
    top:56%;
}

